.noviusos_form {

    @import 'layout/resets';
    @import 'layout/grid';
    @import 'layout/wizard';

    /* The form layout */
    .form-errors {
        color: darkred;
        margin: 10px 0;
        text-align: left;
    }

    .form-fields-group {
        border: 1px solid #cccccc;
        margin-bottom: 2em;
        padding: 1em 2em;
        display: none;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.75);

        &.current {
            display: block;
        }
    }

    .label-position-top,
    .label-position-placeholder {

        input[type="text"],
        input[type="password"],
        input[type="date"],
        input[type="datetime"],
        input[type="email"],
        input[type="number"],
        input[type="search"],
        input[type="tel"],
        input[type="time"],
        input[type="url"],
        select,
        textarea {
            width: 100%;
        }
    }

    .label-position-left {
        text-align: left;

        label {
            vertical-align: top;
        }

        input,
        select,
        textarea {
            width: auto;
        }
    }

    .label-position-right {
        text-align: right;
    }

    .form-field-label,
    .form-field-input,
    .form-field-error {

        &.inline {
            display: inline-block;
        }
    }

    .form-field-label {

        &.inline {
            vertical-align: top;
        }

        label {
            display: block;

            &.right,
            .form-field-label.right & {
                text-align: right;
            }

            &.left,
            .form-field-label.left & {
                text-align: left;
            }

            &[for] {
                cursor: pointer;
            }
        }
    }

    .form_checkbox {
        display: table;

        label,
        input {
            display: table-cell;
        }

        input + label {
            padding-left: .5em;
        }
    }

    .instructions {
        font-style: italic;
        font-size: 90%;
        margin-top: 0.1em;
    }
}
