
td.sortable_placeholder {
    background-color: #a7cdf0;
}
td.sortable {
    width: 24%;
    background-color: #eeeeee;
}

tr.fields {
    padding: 1em;
    height: 3em;
    border: 1px dashed #dddddd;
}

td.field.ui-sortable-helper {
    opacity: 0.5;
    background-color: #a7cdf0;
}

.field input {
    padding: 2px;
    width: 100%;
    -webkit-box-sinzing: border-box;
    -moz-box-sinzing: border-box;
    -o-box-sinzing: border-box;
    box-sizing: border-box;
}
.field label {
    display: inline-block;
    font-weight: bold;
    padding: 0 0 0.5em 0;
}

.resizable {
    padding: 1em;
}

.helper_resize {
    background: yellow;
}







.field_preview {
  position: relative;
  padding: 10px 10px 10px 20px;
  margin: 10px 0 10px;
}
.field_preview:first-child {
    margin-top: 0;
}


/*

#being_edited_arrow {
  background: url('img/big-arrow.png') no-repeat;
  width: 32px;
  height: 29px;
  position: absolute;
  top: 310px;
  right: 32.5%;
}

#being_edited_borders {
  width: 600px;
  position: absolute;
  top: 302px;
  right: 25px;
}

#being_edited_borders #top_border {
  position: absolute;
  background: #ccc;
  height: 1px;
  width: 600px;
}

#being_edited_borders #bottom_border {
  position: absolute;
  background: #ccc;
  height: 1px;
  width: 70px;
  top: 41px;
}

#being_edited_borders #left_border {
  position: absolute;
  background: #ccc;
  width: 1px;
  height: 250px;
  left: 70px;
  top: 41px;
}
*/

.field_preview .handle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 100%;
  cursor: move;
  -Webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.field_preview .handle img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -7px 0px 0px -3px;
}

.field_preview table {
  width: 100%;
}

.field_preview th {
  font-weight: bold;
  text-align: right;
  padding: 2px 5px 0 0;
}
.field_preview td, .field_preview .th {
    vertical-align: top;
}

.field_preview .ui-button-icon-primary {
    display: inline-block;
    position: static;
    margin: 2px 4px;
    vertical-align: middle;
}
.field_preview .ui-button-text {
    display:none;
}

.field_preview.ui-state-active .ui-button-text {
    display:inline-block;
}
.field_preview.ui-state-active  .ui-button-icon-primary {
    position: absolute;
    top: 0;
    margin: 0;
}

#field_settings {
  padding-top: 174px;
}