/* http://stackoverflow.com/questions/15275199/ie10-table-layoutfixed-broken-if-colspan-is-used */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    table colgroup { display: table-row; }
    table colgroup col { display: table-cell; }
}

.field_blank_slate td {
    vertical-align: top;
}

.field_blank_slate {
    margin: 1em 0.5em 0;
    padding: 1em;
}
.field_blank_slate th {
    text-align: center;
    font-weight: bold;
}
.field_blank_slate td {
    padding: 1em;
}

.field_blank_slate td:first-child {
    border-right: 1px solid #ccc;
}
.field_blank_slate img {
    vertical-align: middle;
}
.field_blank_slate label {
    border: 1px solid transparent;
    cursor: pointer;
    display: block;
    padding: 2px;
    margin-bottom: 1px;
}

.form_preview {
    width: 100%;
    table-layout:fixed;
    border-spacing: 1em 0;
    border-collapse: separate;
}
.submit_informations {
    margin: 1em; /* Same value as above border-spacing */
}

.submit_informations p {
    margin: 1em;
}



.preview.sortable_placeholder, .helper_resize {
    border-style: dotted !important;
    /*border-width: 2px;*/
    opacity: 0.3;
}

.preview_row {
    display: table-row;
    /*border: 1px dashed #dddddd;*/
    width: 100%;
}

.preview_row.empty {
    border: none;
}

.preview, .preview label, .preview input, .preview textarea, .preview select, .submit_informations {
    cursor: pointer;
}

/* Interline droppable height*/
tr.preview_inserter {
    height: 2em;
}

.preview.ui-sortable-helper {
    opacity: 0.5;
    background-color: #a7cdf0;
}

.preview input {
    padding: 1px;
    /*width: 100%;*/
}
.preview .preview_label {
    display: inline-block;
    font-weight: bold;
}

.resizable {
    padding: 1em 0;
    position: relative;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.preview {
    vertical-align: top;
    overflow: hidden;
    /*padding: 0 1em 0 0;*/
}

.ui-state-active .preview_content {
    font-weight: normal;
}

.field_preview {
    position: relative;
    padding: 10px 10px 10px 20px;
    margin: 10px 0 10px;
}
.field_preview:first-child {
    margin-top: 0;
}

.fields_container p.actions {
    text-align: center;
    position: relative;
    height: 40px;
    padding: 0;
    margin: 0;
}
.fields_container button.action {
    width: 49%;
}

.preview_arrow {
    position: absolute;
    top: 40px;
    left: -35px;
}

.preview.ui-sortable-helper {
    padding: 0;
}

.preview .handle {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    width: 10px;
    cursor: move;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Keep parent border for .ui-state-active *//*
    border-top: 0;
    border-left: 0;
    border-bottom: 0;*/
}



.preview .preview_content, .preview label {
    margin-right: 8px;
    margin-left: 16px; /* .handle width */
}

.preview_content {
    margin-top: 0.5em;
}

.preview  .preview_label {
    display: inline-block;
}

.preview.page_break .preview_label {
    display: block;
    text-align: center;
}
.preview.page_break .preview_content {
    display: none;
}

.preview_content input[type=text], .preview_content textarea {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.preview_content input[type=text][size], .preview_content textarea[cols] {
    width: auto;
}
.preview_content select {
    max-width: 100%;
}
.preview_content .details {
    font-style: italic;
    padding: 0.5em;
}
.preview .handle img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -8px 0px 0px -2px;
}

.tinymce_button {
    background: #eee;
    border: 1px solid #ccc;
    color: #000;
    display: inline-block;
    padding: 2px 4px 0;
}
.tinymce_button img {
    vertical-align: middle;
}


.answer {
    margin:2em 2em 1em;
}

.answer h1 {
    margin-bottom: 1em;
}
